@font-face {
  font-family: 'iconfont-ai'; /* Project id 2319917 */
  src: url('iconfont.woff2?t=1719295513803') format('woff2'), url('iconfont.woff?t=1719295513803') format('woff'), url('iconfont.ttf?t=1719295513803') format('truetype');
}

.iconfont-ai {
  font-family: 'iconfont-ai' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eyes-off-red:before {
  content: '\e63f';
}

.icon-eyes-off:before {
  content: '\e61c';
}

.icon-time:before {
  content: '\e624';
}

.icon-chuangkoubinglie:before {
  content: '\e62a';
}

.icon-gengduo:before {
  content: '\e62b';
}

.icon-cebianlan:before {
  content: '\e62c';
}

.icon-share-screen:before {
  content: '\e62d';
}

.icon-guanbi:before {
  content: '\e62e';
}

.icon-huiyichengyuan:before {
  content: '\e62f';
}

.icon-kadunfankui:before {
  content: '\e630';
}

.icon-maikefengyikaiqi:before {
  content: '\e631';
}

.icon-quanping:before {
  content: '\e632';
}

.icon-shexiangtouyikaiqi:before {
  content: '\e633';
}

.icon-shexiangtouyiguanbi:before {
  content: '\e634';
}

.icon-setting:before {
  content: '\e635';
}

.icon-maikefengyiguanbi:before {
  content: '\e636';
}

.icon-shouqi:before {
  content: '\e637';
}

.icon-xuanzefasongren:before {
  content: '\e638';
}

.icon-liaotian:before {
  content: '\e639';
}

.icon-tuichuhuiyi:before {
  content: '\e63a';
}

.icon-sousuotubiao:before {
  content: '\e63b';
}

.icon-arrow-left:before {
  content: '\e63c';
}

.icon-zhonglian:before {
  content: '\e63d';
}

.icon-yidongzhiyouceliebiao:before {
  content: '\e63e';
}
